In [2]:
USE TSQL2012;

## SELECT statements

In [20]:
-- 1: * will return all columns 
-- 2: xx.yy is for full qualified name (FQDN)
SELECT * FROM HR.Employees;

empid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,phone,mgrid
1,Davis,Sara,CEO,Ms.,1958-12-08 00:00:00.000,2002-05-01 00:00:00.000,"7890 - 20th Ave. E., Apt. 2A",Seattle,WA,10003,USA,(206) 555-0101,NULL
2,Funk,Don,"Vice President, Sales",Dr.,1962-02-19 00:00:00.000,2002-08-14 00:00:00.000,9012 W. Capital Way,Tacoma,WA,10001,USA,(206) 555-0100,1
3,Lew,Judy,Sales Manager,Ms.,1973-08-30 00:00:00.000,2002-04-01 00:00:00.000,2345 Moss Bay Blvd.,Kirkland,WA,10007,USA,(206) 555-0103,2
4,Peled,Yael,Sales Representative,Mrs.,1947-09-19 00:00:00.000,2003-05-03 00:00:00.000,5678 Old Redmond Rd.,Redmond,WA,10009,USA,(206) 555-0104,3
5,Buck,Sven,Sales Manager,Mr.,1965-03-04 00:00:00.000,2003-10-17 00:00:00.000,8901 Garrett Hill,London,NULL,10004,UK,(71) 234-5678,2
6,Suurs,Paul,Sales Representative,Mr.,1973-07-02 00:00:00.000,2003-10-17 00:00:00.000,"3456 Coventry House, Miner Rd.",London,NULL,10005,UK,(71) 345-6789,5
7,King,Russell,Sales Representative,Mr.,1970-05-29 00:00:00.000,2004-01-02 00:00:00.000,"6789 Edgeham Hollow, Winchester Way",London,NULL,10002,UK,(71) 123-4567,5
8,Cameron,Maria,Sales Representative,Ms.,1968-01-09 00:00:00.000,2004-03-05 00:00:00.000,4567 - 11th Ave. N.E.,Seattle,WA,10006,USA,(206) 555-0102,3
9,Dolgopyatova,Zoya,Sales Representative,Ms.,1976-01-27 00:00:00.000,2004-11-15 00:00:00.000,1234 Houndstooth Rd.,London,NULL,10008,UK,(71) 456-7890,5

In [4]:
-- select a subset of columns
SELECT country, firstname, lastname FROM HR.Employees;

country,firstname,lastname
USA,Sara,Davis
USA,Don,Funk
USA,Judy,Lew
USA,Yael,Peled
UK,Sven,Buck
UK,Paul,Suurs
UK,Russell,King
USA,Maria,Cameron
UK,Zoya,Dolgopyatova

In [9]:
-- removing duplicates with DISTINCT
SELECT DISTINCT country FROM HR.Employees AS C

country
UK
USA

In [8]:
-- assigning a table alias
SELECT E.empid, firstname, lastname
FROM HR.Employees AS E;

empid,firstname,lastname
1,Sara,Davis
2,Don,Funk
3,Judy,Lew
4,Yael,Peled
5,Sven,Buck
6,Paul,Suurs
7,Russell,King
8,Maria,Cameron
9,Zoya,Dolgopyatova

In [12]:
-- sorting by column value
SELECT empid, lastname
FROM HR.Employees
ORDER BY empid;


-- SELECT empid, lastname
-- FROM HR.Employees
-- ORDER BY 1;

empid,lastname
1,Davis
2,Funk
3,Lew
4,Peled
5,Buck
6,Suurs
7,King
8,Cameron
9,Dolgopyatova

In [13]:
-- aliasing for renaming
SELECT empid, firstname + ' ' + lastname AS fullname
FROM HR.Employees;

empid,fullname
1,Sara Davis
2,Don Funk
3,Judy Lew
4,Yael Peled
5,Sven Buck
6,Paul Suurs
7,Russell King
8,Maria Cameron
9,Zoya Dolgopyatova

In [18]:
SELECT empid, country + ' - ' + address AS location FROM HR.Employees AS L

empid,location
1,"USA - 7890 - 20th Ave. E., Apt. 2A"
2,USA - 9012 W. Capital Way
3,USA - 2345 Moss Bay Blvd.
4,USA - 5678 Old Redmond Rd.
5,UK - 8901 Garrett Hill
6,"UK - 3456 Coventry House, Miner Rd."
7,"UK - 6789 Edgeham Hollow, Winchester Way"
8,USA - 4567 - 11th Ave. N.E.
9,UK - 1234 Houndstooth Rd.

In [17]:
-- SELECT without FROM
SELECT 10 AS col1, 'ABC' AS col2;

col1,col2
10,ABC

In [19]:
-- SELECT with filters
SELECT country, YEAR(hiredate) AS yearhired
FROM HR.Employees
WHERE hiredate >= '20030101';

country,yearhired
USA,2003
UK,2003
UK,2003
UK,2004
USA,2004
UK,2004

In [26]:
SELECT firstname, lastname, YEAR(birthdate) AS Birth_Year
FROM HR.Employees
WHERE birthdate > '19700101'

firstname,lastname,Birth_Year
Judy,Lew,1973
Paul,Suurs,1973
Russell,King,1970
Zoya,Dolgopyatova,1976

In [30]:
-- Combine two or more selects into one result set (with same structure), Also UNION ALL
SELECT lastname, 'Male' AS Gender FROM HR.Employees where titleofcourtesy = 'Mr.'
UNION 
SELECT lastname, 'Female' AS Gender FROM HR.Employees where titleofcourtesy = 'Ms.'
UNION
SELECT lastname, 'Female' AS Gender FROM HR.Employees where titleofcourtesy = 'Mrs.';

lastname,Gender
Buck,Male
Cameron,Female
Davis,Female
Dolgopyatova,Female
King,Male
Lew,Female
Peled,Female
Suurs,Male