# Basics: Filtering and sorting

In [1]:
USE TSQL2012;

In [3]:
-- employees from the United States
SELECT empid, firstname, lastname, country, region, city
FROM HR.Employees
WHERE region = N'WA';

empid,firstname,lastname,country,region,city
1,Sara,Davis,USA,WA,Seattle
2,Don,Funk,USA,WA,Tacoma
3,Judy,Lew,USA,WA,Kirkland
4,Yael,Peled,USA,WA,Redmond
8,Maria,Cameron,USA,WA,Seattle

### **Exercise 1**

Select employees from Washington State (columns `regions`)

In [5]:
-- employees that are not from Washington State
SELECT empid, firstname, lastname, country, region, city
FROM HR.Employees
WHERE city <> N'London';

empid,firstname,lastname,country,region,city
1,Sara,Davis,USA,WA,Seattle
2,Don,Funk,USA,WA,Tacoma
3,Judy,Lew,USA,WA,Kirkland
4,Yael,Peled,USA,WA,Redmond
8,Maria,Cameron,USA,WA,Seattle

In [6]:
-- employees that are not from Washington State, resolving the NULL problem
SELECT empid, firstname, lastname, country, region, city
FROM HR.Employees
WHERE region <> N'WA'
   OR region IS NULL;

empid,firstname,lastname,country,region,city
5,Sven,Buck,UK,NULL,London
6,Paul,Suurs,UK,NULL,London
7,Russell,King,UK,NULL,London
9,Zoya,Dolgopyatova,UK,NULL,London

# Filtering Character Data

In [7]:
-- regular character string
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname = 'Davis';

-- Unicode character string
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname = N'Davis';

-- employees whose last name starts with the letter D.
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';

empid,firstname,lastname
1,Sara,Davis

empid,firstname,lastname
1,Sara,Davis

empid,firstname,lastname
1,Sara,Davis
9,Zoya,Dolgopyatova

## Exercise 2
Get all employees in the Sales department (use the `title` column)

In [8]:
SELECT empid, firstname, lastname 
FROM HR.Employees
WHERE title LIKE 'Sales%'

empid,firstname,lastname
3,Judy,Lew
4,Yael,Peled
5,Sven,Buck
6,Paul,Suurs
7,Russell,King
8,Maria,Cameron
9,Zoya,Dolgopyatova

# Filtering Date and Time Data

In [9]:
-- language-dependent literal
SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE orderdate = '02/12/07';

-- language-neutral literal
SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE orderdate = '20070212';

-- not SARG
-- Note the LHS
SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE YEAR(orderdate) = 2007 AND MONTH(orderdate) = 2;

-- SARG
SELECT orderid, orderdate, empid, custid
FROM Sales.Orders
WHERE orderdate >= '20070201' AND orderdate < '20070301';

orderid,orderdate,empid,custid
10443,2007-02-12 00:00:00.000,8,66
10444,2007-02-12 00:00:00.000,3,5

orderid,orderdate,empid,custid
10443,2007-02-12 00:00:00.000,8,66
10444,2007-02-12 00:00:00.000,3,5

orderid,orderdate,empid,custid
10433,2007-02-03 00:00:00.000,3,60
10434,2007-02-03 00:00:00.000,3,24
10435,2007-02-04 00:00:00.000,8,16
10436,2007-02-05 00:00:00.000,3,7
10437,2007-02-05 00:00:00.000,8,87
10438,2007-02-06 00:00:00.000,3,79
10439,2007-02-07 00:00:00.000,6,51
10440,2007-02-10 00:00:00.000,4,71
10441,2007-02-10 00:00:00.000,3,55
10442,2007-02-11 00:00:00.000,3,20
10443,2007-02-12 00:00:00.000,8,66
10444,2007-02-12 00:00:00.000,3,5
10445,2007-02-13 00:00:00.000,3,5
10446,2007-02-14 00:00:00.000,6,79
10447,2007-02-14 00:00:00.000,4,67
10448,2007-02-17 00:00:00.000,4,64
10449,2007-02-18 00:00:00.000,3,7
10450,2007-02-19 00:00:00.000,8,84
10451,2007-02-19 00:00:00.000,4,63
10452,2007-02-20 00:00:00.000,8,71
10453,2007-02-21 00:00:00.000,1,4
10454,2007-02-21 00:00:00.000,4,41
10455,2007-02-24 00:00:00.000,8,87
10456,2007-02-25 00:00:00.000,8,39
10457,2007-02-25 00:00:00.000,2,39
10458,2007-02-26 00:00:00.000,7,76
10459,2007-02-27 00:00:00.000,4,84
10460,2007-02-28 00:00:00.000,8,24
10461,2007-02-28 00:00:00.000,1,46

orderid,orderdate,empid,custid
10433,2007-02-03 00:00:00.000,3,60
10434,2007-02-03 00:00:00.000,3,24
10435,2007-02-04 00:00:00.000,8,16
10436,2007-02-05 00:00:00.000,3,7
10437,2007-02-05 00:00:00.000,8,87
10438,2007-02-06 00:00:00.000,3,79
10439,2007-02-07 00:00:00.000,6,51
10440,2007-02-10 00:00:00.000,4,71
10441,2007-02-10 00:00:00.000,3,55
10442,2007-02-11 00:00:00.000,3,20
10443,2007-02-12 00:00:00.000,8,66
10444,2007-02-12 00:00:00.000,3,5
10445,2007-02-13 00:00:00.000,3,5
10446,2007-02-14 00:00:00.000,6,79
10447,2007-02-14 00:00:00.000,4,67
10448,2007-02-17 00:00:00.000,4,64
10449,2007-02-18 00:00:00.000,3,7
10450,2007-02-19 00:00:00.000,8,84
10451,2007-02-19 00:00:00.000,4,63
10452,2007-02-20 00:00:00.000,8,71
10453,2007-02-21 00:00:00.000,1,4
10454,2007-02-21 00:00:00.000,4,41
10455,2007-02-24 00:00:00.000,8,87
10456,2007-02-25 00:00:00.000,8,39
10457,2007-02-25 00:00:00.000,2,39
10458,2007-02-26 00:00:00.000,7,76
10459,2007-02-27 00:00:00.000,4,84
10460,2007-02-28 00:00:00.000,8,24
10461,2007-02-28 00:00:00.000,1,46

In [10]:
-- Side: lets look at the data types for this table
select * from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='Orders'

TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,ORDINAL_POSITION,COLUMN_DEFAULT,IS_NULLABLE,DATA_TYPE,CHARACTER_MAXIMUM_LENGTH,CHARACTER_OCTET_LENGTH,NUMERIC_PRECISION,NUMERIC_PRECISION_RADIX,NUMERIC_SCALE,DATETIME_PRECISION,CHARACTER_SET_CATALOG,CHARACTER_SET_SCHEMA,CHARACTER_SET_NAME,COLLATION_CATALOG,COLLATION_SCHEMA,COLLATION_NAME,DOMAIN_CATALOG,DOMAIN_SCHEMA,DOMAIN_NAME
TSQL2012,Sales,Orders,orderid,1,NULL,NO,int,NULL,NULL,10,10,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
TSQL2012,Sales,Orders,custid,2,NULL,YES,int,NULL,NULL,10,10,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
TSQL2012,Sales,Orders,empid,3,NULL,NO,int,NULL,NULL,10,10,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
TSQL2012,Sales,Orders,orderdate,4,NULL,NO,datetime,NULL,NULL,NULL,NULL,NULL,3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
TSQL2012,Sales,Orders,requireddate,5,NULL,NO,datetime,NULL,NULL,NULL,NULL,NULL,3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
TSQL2012,Sales,Orders,shippeddate,6,NULL,YES,datetime,NULL,NULL,NULL,NULL,NULL,3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
TSQL2012,Sales,Orders,shipperid,7,NULL,NO,int,NULL,NULL,10,10,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
TSQL2012,Sales,Orders,freight,8,((0)),NO,money,NULL,NULL,19,10,4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
TSQL2012,Sales,Orders,shipname,9,NULL,NO,nvarchar,40,80,NULL,NULL,NULL,NULL,NULL,NULL,UNICODE,NULL,NULL,SQL_Latin1_General_CP1_CI_AS,NULL,NULL,NULL
TSQL2012,Sales,Orders,shipaddress,10,NULL,NO,nvarchar,60,120,NULL,NULL,NULL,NULL,NULL,NULL,UNICODE,NULL,NULL,SQL_Latin1_General_CP1_CI_AS,NULL,NULL,NULL
TSQL2012,Sales,Orders,shipcity,11,NULL,NO,nvarchar,15,30,NULL,NULL,NULL,NULL,NULL,NULL,UNICODE,NULL,NULL,SQL_Latin1_General_CP1_CI_AS,NULL,NULL,NULL
TSQL2012,Sales,Orders,shipregion,12,NULL,YES,nvarchar,15,30,NULL,NULL,NULL,NULL,NULL,NULL,UNICODE,NULL,NULL,SQL_Latin1_General_CP1_CI_AS,NULL,NULL,NULL
TSQL2012,Sales,Orders,shippostalcode,13,NULL,YES,nvarchar,10,20,NULL,NULL,NULL,NULL,NULL,NULL,UNICODE,NULL,NULL,SQL_Latin1_General_CP1_CI_AS,NULL,NULL,NULL
TSQL2012,Sales,Orders,shipcountry,14,NULL,NO,nvarchar,15,30,NULL,NULL,NULL,NULL,NULL,NULL,UNICODE,NULL,NULL,SQL_Latin1_General_CP1_CI_AS,NULL,NULL,NULL

## Exercise 3
Get all employees hired in 2002.

In [12]:
SELECT empid, firstname, lastname 
FROM HR.Employees
WHERE hiredate > '20020101' AND hiredate < '20030101'

empid,firstname,lastname
1,Sara,Davis
2,Don,Funk
3,Judy,Lew

# Sorting Data

In [13]:
-- query with no ORDER BY doesn't guarantee presentation ordering
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA';

empid,firstname,lastname,city,birthmonth
1,Sara,Davis,Seattle,12
2,Don,Funk,Tacoma,2
3,Judy,Lew,Kirkland,8
4,Yael,Peled,Redmond,9
8,Maria,Cameron,Seattle,1

In [14]:

-- Simple ORDER BY example
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY city;

empid,firstname,lastname,city,birthmonth
3,Judy,Lew,Kirkland,8
4,Yael,Peled,Redmond,9
8,Maria,Cameron,Seattle,1
1,Sara,Davis,Seattle,12
2,Don,Funk,Tacoma,2

In [15]:

-- use descending order
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY city DESC;

empid,firstname,lastname,city,birthmonth
2,Don,Funk,Tacoma,2
1,Sara,Davis,Seattle,12
8,Maria,Cameron,Seattle,1
4,Yael,Peled,Redmond,9
3,Judy,Lew,Kirkland,8

In [16]:

-- order by multiple columns
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY city, empid;

empid,firstname,lastname,city,birthmonth
3,Judy,Lew,Kirkland,8
4,Yael,Peled,Redmond,9
1,Sara,Davis,Seattle,12
8,Maria,Cameron,Seattle,1
2,Don,Funk,Tacoma,2

In [17]:

-- order by ordinals (bad practice)
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY 4, 1;

empid,firstname,lastname,city,birthmonth
3,Judy,Lew,Kirkland,8
4,Yael,Peled,Redmond,9
1,Sara,Davis,Seattle,12
8,Maria,Cameron,Seattle,1
2,Don,Funk,Tacoma,2

In [ ]:

-- change SELECT list but forget to change ordinals in ORDER BY
SELECT empid, city, firstname, lastname, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY 4, 1;

In [18]:

-- order by elements not in SELECT
SELECT empid, city
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY birthdate;

empid,city
4,Redmond
1,Seattle
2,Tacoma
8,Seattle
3,Kirkland

In [19]:
-- following fails
SELECT DISTINCT city
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY birthdate;

: Msg 145, Level 15, State 1, Line 2
ORDER BY items must appear in the select list if SELECT DISTINCT is specified.

In [20]:
-- following succeeds
SELECT DISTINCT city
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY city;

city
Kirkland
Redmond
Seattle
Tacoma

In [ ]:
-- can refer to column aliases asigned in SELECT
SELECT empid, firstname, lastname, city, MONTH(birthdate) AS birthmonth
FROM HR.Employees
WHERE country = N'USA' AND region = N'WA'
ORDER BY birthmonth;

## Exercise 4
Order emplyeess by the year they are hired, and those hired in the same year should be orderd by their last name.

In [23]:
SELECT firstname, lastname, YEAR(hiredate) AS hireyear
FROM HR.employees
ORDER BY hiredate, lastname

firstname,lastname,hireyear
Judy,Lew,2002
Sara,Davis,2002
Don,Funk,2002
Yael,Peled,2003
Sven,Buck,2003
Paul,Suurs,2003
Russell,King,2004
Maria,Cameron,2004
Zoya,Dolgopyatova,2004

In [24]:
-- NULLs sort first
SELECT orderid, shippeddate
FROM Sales.Orders
WHERE custid = 20
ORDER BY shippeddate;

orderid,shippeddate
11008,NULL
11072,NULL
10258,2006-07-23 00:00:00.000
10263,2006-07-31 00:00:00.000
10351,2006-11-20 00:00:00.000
10368,2006-12-02 00:00:00.000
10382,2006-12-16 00:00:00.000
10390,2006-12-26 00:00:00.000
10403,2007-01-09 00:00:00.000
10402,2007-01-10 00:00:00.000
10430,2007-02-03 00:00:00.000
10442,2007-02-18 00:00:00.000
10514,2007-05-16 00:00:00.000
10571,2007-07-04 00:00:00.000
10595,2007-07-14 00:00:00.000
10633,2007-08-18 00:00:00.000
10667,2007-09-19 00:00:00.000
10698,2007-10-17 00:00:00.000
10764,2007-12-08 00:00:00.000
10773,2007-12-16 00:00:00.000
10776,2007-12-18 00:00:00.000
10771,2008-01-02 00:00:00.000
10795,2008-01-20 00:00:00.000
10836,2008-01-21 00:00:00.000
10854,2008-02-05 00:00:00.000
10895,2008-02-23 00:00:00.000
10979,2008-03-31 00:00:00.000
10968,2008-04-01 00:00:00.000
10990,2008-04-07 00:00:00.000
11017,2008-04-20 00:00:00.000

# Filtering Data with TOP

In [25]:
-- return the three most recent orders
SELECT TOP (3) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

orderid,orderdate,custid,empid
11077,2008-05-06 00:00:00.000,65,1
11076,2008-05-06 00:00:00.000,9,4
11075,2008-05-06 00:00:00.000,68,8

In [26]:

-- can use percent
SELECT TOP (1) PERCENT orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

orderid,orderdate,custid,empid
11074,2008-05-06 00:00:00.000,73,7
11075,2008-05-06 00:00:00.000,68,8
11076,2008-05-06 00:00:00.000,9,4
11077,2008-05-06 00:00:00.000,65,1
11070,2008-05-05 00:00:00.000,44,2
11071,2008-05-05 00:00:00.000,46,1
11072,2008-05-05 00:00:00.000,20,4
11073,2008-05-05 00:00:00.000,58,2
11067,2008-05-04 00:00:00.000,17,1

In [ ]:

-- can use expression, like parameter or variable, as input
DECLARE @n AS BIGINT = 5;

SELECT TOP (@n) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

In [27]:
-- no ORDER BY, ordering is arbitrary
SELECT TOP (3) orderid, orderdate, custid, empid
FROM Sales.Orders;

orderid,orderdate,custid,empid
10248,2006-07-04 00:00:00.000,85,5
10249,2006-07-05 00:00:00.000,79,6
10250,2006-07-08 00:00:00.000,34,4

In [28]:

-- non-deterministic ordering even with ORDER BY since ordering isn't unique
SELECT TOP (3) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

orderid,orderdate,custid,empid
11077,2008-05-06 00:00:00.000,65,1
11076,2008-05-06 00:00:00.000,9,4
11075,2008-05-06 00:00:00.000,68,8

In [29]:

-- return all ties
SELECT TOP (3) WITH TIES orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

orderid,orderdate,custid,empid
11077,2008-05-06 00:00:00.000,65,1
11076,2008-05-06 00:00:00.000,9,4
11075,2008-05-06 00:00:00.000,68,8
11074,2008-05-06 00:00:00.000,73,7

In [30]:

-- break ties
SELECT TOP (3) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC, orderid DESC;

orderid,orderdate,custid,empid
11077,2008-05-06 00:00:00.000,65,1
11076,2008-05-06 00:00:00.000,9,4
11075,2008-05-06 00:00:00.000,68,8

## Exercise 5
- Get the last 2 hired employees. 
- Get the last 2 hired employees considering only the year of hiring, with ties.

In [35]:
SELECT TOP(2) WITH TIES firstname, lastname 
FROM HR.employees
ORDER BY hiredate, YEAR(hiredate)

firstname,lastname
Judy,Lew
Sara,Davis