In [2]:
USE TSQL2012;

# Simple Grouping

In [3]:
-- grouped query without GROUP BY clause
SELECT COUNT(*) AS numorders
FROM Sales.Orders;

numorders
830

In [4]:
-- grouped query with GROUP BY clause
SELECT shipperid, COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY shipperid;

shipperid,numorders
1,249
2,326
3,255

In [5]:

-- grouping set with multiple elements
SELECT shipperid, YEAR(shippeddate) AS shippedyear,
   COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY shipperid, YEAR(shippeddate);

shipperid,shippedyear,numorders
1,2008,79
3,2008,73
1,NULL,4
3,NULL,6
1,2006,36
2,2007,143
2,NULL,11
3,2006,51
1,2007,130
2,2008,116
2,2006,56
3,2007,125

In [7]:
-- filtering groups
SELECT shipperid, YEAR(shippeddate) AS shippedyear,
   COUNT(*) AS numorders
FROM Sales.Orders
WHERE shippeddate IS NOT NULL
GROUP BY shipperid, YEAR(shippeddate)
HAVING COUNT(*) > 100;

shipperid,shippedyear,numorders
2,2007,143
1,2007,130
2,2008,116
3,2007,125

In [8]:
-- general aggregate functions ignore NULLs
SELECT shipperid,
  COUNT(*) AS numorders,
  COUNT(shippeddate) AS shippedorders,
  MIN(shippeddate) AS firstshipdate,
  MAX(shippeddate) AS lastshipdate,
  SUM(val) AS totalvalue
FROM Sales.OrderValues
GROUP BY shipperid;

shipperid,numorders,shippedorders,firstshipdate,lastshipdate,totalvalue
3,255,249,2006-07-15 00:00:00.000,2008-05-01 00:00:00.000,383405.53
1,249,245,2006-07-10 00:00:00.000,2008-05-04 00:00:00.000,348840.00
2,326,315,2006-07-11 00:00:00.000,2008-05-06 00:00:00.000,533547.69

In [ ]:
-- aggregating distinct cases
SELECT shipperid, COUNT(DISTINCT shippeddate) AS numshippingdates
FROM Sales.Orders
GROUP BY shipperid;

## Exercise 1
Return the years in which the company had have more than one hires, after and including 2003. Sort one countries and hire year.

## Exercise 2
Get total order numbers, min order number in a day, and max order number in a day per each year. Use `Sales.OrderValues` table. Order the table on year.

## Exercise 3
Use previous exercise, to return the days per each year we have had the lowest number of orders. 

Hint: use `WITH` and correlated queries.

# Working With Multiple Grouping Sets

Same as havein `GROUP BY`s separately and then using `UNION`.

In [ ]:
-- using the GROUPING SETS clause
SELECT shipperid, YEAR(shippeddate) AS shipyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE shippeddate IS NOT NULL -- exclude unshipped orders
GROUP BY GROUPING SETS
(
  ( shipperid, YEAR(shippeddate) ),
  ( shipperid                    ),
  ( YEAR(shippeddate)            ),
  (                              )
);